* {
  box-sizing: border-box;
}

body {
  margin: 0;
    background-color: whitesmoke;
    text-align: center;
}

.page-container {
  margin: clamp(1rem, 10vh, 4rem) 10vw;
}

div.info-box {
    border: solid 1px black;
    padding: 2rem;
}

.weather {
    font-size: 5vw;
        font-family: monospace;


}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    margin: 5vh 0;
}

h1 {
  font-size: clamp(28px, 8vw, 48px);
  margin-top: clamp(1rem, 3vh, 4rem);
  margin-bottom: clamp(3rem, 2vh, 1.5rem);
}

  h2 {
        font-size: clamp(24px, 6vw, 38px);
  }

  p {
    font-family: monospace;
    font-size: clamp(16px, 2.5vw, 22px);
}

.otter pre {
    font-family: monospace;
    /* This is the change: font-size now scales with the viewport width */
    font-size: 1.5vh;
    text-align: center;
    margin-top: clamp(1rem, 3vh, 2rem)
}

span.energy {
    background-color: lime;
}

div.fish {
    text-align: center;
    /* This is the other change: font-size scales with the viewport width */
    font-size: .75vw;
    padding: 1rem;
    background-color: black;
     border: 2px lime dotted;
}

a.fish-tank {
   
    text-decoration: none; /* Hides the link underline */
    cursor: pointer;       /* Shows a pointer on hover */
}

a.fish-tank:visited {
    text-decoration: none;
}

span.fish {
    color: lime;

}