body {
    background-color: whitesmoke;
}
.page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}


pre, p {
    font-family: monospace;
}

span.energy {
    background-color: lime;
}

div.fish {
    width: auto;
    display: flex;
    justify-content: center;
    font-size: .25rem;
    padding: 1rem;
    border: 1px dotted lime;
}

.fish {
    color: lime;
    background-color: black;
}
